@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */

:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #f8f9fa;
    --secondary-color: #adb5bd;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

/* Smooth scroll effect */

html {
    scroll-behavior: smooth;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

/* Navbar */
nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9rem;
    /* margin-bottom: 48px; */
}

.nav-links {
    display: flex;
    gap: 26px;
}

.title-section {
    background-color: #1f2937;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 4rem 9rem;
}

.title-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.title-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.btn {
    margin-top: 20px;
    background-color: #3882f6;
    color: var(--primary-color);
    border-radius: 8px;
    padding: 6px 26px;
}

.team-info { 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem 1.5rem;
}

.worker-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 2.5rem;
}


